.menu{

    background-color:#41a041;
}
a {
    color:#fff;  
}

.btn {
    margin-right: 2px;
}

.markedAsDone {
    text-decoration: line-through;
    color: #777;
}

.tableActions {
    width: 105px;
}

.todoForm {
    padding-bottom: 60px;
    
}
body{
    background-color: rgb(242, 247, 241);
}
